@use '../../../../lib/colors';
@use '../../../../lib/fonts';
@use '../../../../lib/mixin';

.piechart__display {
  display: grid;
  align-items: center;

  * {
    grid-column: 1;
    grid-row: 1;
  }
}

.piechart__info {
  width: 100%;
  text-align: center;
  pointer-events: none;

  .piechart__message {
    margin: 0;
    font-size: fonts.$font-size-2;
    color: colors.$gray-2;
  }

  .piechart__total {
    margin: 0;
    font-size: fonts.$font-size-5;
    font-weight: 700;
    color: colors.$gray-3;
  }
}
