@use '../../../lib/colors';
@use '../../../lib/fonts';
@use '../../../lib/mixin';
@use './slotsElem/slotsArray';

.slotsBlock {
  max-width: 100%;
  position: relative;
}

@include mixin.tablet {
  .slotsBlock {
    grid-column: 1/-1;
  }
}

@include mixin.tablet-large {
  .slotsBlock {
  }
}
