@use '../../../lib/mixin';
@use '../../../lib/colors';
@use '../../../lib/fonts';

.campaignListing__tools {
  display: flex;
  width: 100%;
  max-width: 100%;
  flex-wrap: wrap;
  margin-top: 4rem;
  padding-top: 1rem;
  background-color: colors.$gray-1;
  position: relative;
  z-index: 500;

  .controller {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  .controller:last-child {
    margin: 0 0 0 auto;
  }
}

@include mixin.smaller-than-tablet {
  .campaignListing__tools {
  }
}
